.Chat-main
  .Chat-main__group-info
    .room-info
      .Chat-main__group-info__room
        test
      .Chat-main__group-info__member
        member:masa
    .Chat-main__group-info__edit
      Edit

  .Chat-main__message-list
    .Chat-main__message-list__speaker
      masa
    .Chat-main__message-list__time
      2019/11/20(Wed) 17:00:01
    .Chat-main__message-list__text
      おはよう！

    .Chat-main__message-list__speaker
      masa
    .Chat-main__message-list__time
      2019/11/20(Wed) 18:50:01
    .Chat-main__message-list__text
      今日は夜から雨

  .Chat-main__post-form

    %form.Chat-main__post-form__message
      .Chat-main__post-form__message__input-text
        %input{type: "text", placeholder:"type a message", class:"Form__inputcontent"}        

        %label{class: "Form__inputimage"}
          = icon('far', 'image')
          %input{type: "file", class:"Form__file"}
      %input{type: "submit",value:"Send", class:"Form__submit"}


